<style>a{color:#666;text-decoration:none}</style><table style="margin-top:10px;font-size:13px;line-height:18px;width:100%;font-family:Helvetica,sans-serif;color:#F87;background:no-repeat url('http://produktionproduktion.se/misc/epost.png')"><tr><td width="308" height="155" valign="top">
<div style="border-top:solid 1px #F87;display:block;width:100%;margin:10px 0"></div>
<b style="color:#F87;font-family:Helvetica,sans-serif">Emma Rosdal</b><br><a style="color:#F87;text-decoration:none;font-family:Helvetica,sans-serif" href="mailto:emma@produktionproduktion.se">emma@produktionproduktion.se</a><br><a style="color:blue;text-decoration:none;font-family:Helvetica,sans-serif" href="tel:+468146699">08-14 66 99</a><br><a style="color:#F87;text-decoration:none;font-family:Helvetica,sans-serif" href="http://produktionproduktion.se">www.produktionproduktion.se</a></td></tr></table>